.o-box1 {
    width: 200px;
    height: 200px;
    /*background: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612678074_74-p-kartinka-fon-zelenii-lug-125.jpg");*/
    background-color: transparent;
}