.m-table-container {
    width: 100%;
}

.m-table {
    width: 100%;
    height: calc(100% - 100px);
    text-align: left;
    border-collapse: collapse;
    overflow-y: auto;
}

.m-row-container {
    height: 45px;
    border-bottom: 1px solid lightgrey;
}
.m-column-container {
    width: 50px;
}

.m-checkbox-column {
    padding: 0 10px;
}
.m-tfoot {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 30px;
}
.m-switch-left {
    border: 0;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}
.m-switch-left:hover {
    background-color: lightgrey;
}
.m-switch-right {
    border: 0;
    background-color: white;
    cursor: pointer;
}
.m-switch-right:hover {
    background-color: lightgrey;
}
.m-select-amount-row {
    margin-left: 5px;
    background-color: lightgray;
    border: 0;
    width: 40px;
    height: 30px;
    cursor: pointer;

}
.wrapper-m-select-amount-row {
    margin-right: 30px;
    display: flex;
    align-items: center;
}
.counter-page {
    margin-right: 30px;
}
.disable-m-switch-left {
    border: 0;
    background-color: white;
    margin-right: 10px;
}
.disable-m-switch-right {
    border: 0;
    background-color: white;

}
