.tr-wrapper {
    border: 1px solid grey;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    background-color: lightgray;
    box-shadow: 12px 12px 10px grey;
}